* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form-contanier {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1.5px solid blue;
    border-radius: 5px;
    background-color: #fafafa;
    font-size: 16px;
}

.contact-form input focus,
.contact-form textarea:focus {
    border-color: #007BFF;
    outline: none;
    background-color: #fff;
}

.contact-form button {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: blue;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover{
    background-color: lightblue;
}